<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script type="text/javascript" src="/js/get-url-parameter.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script type="text/javascript">
		$(document).ready(function(){
			$("#newgame-link").click(function(){
				$.get('api/newgame', function(res){
					window.open("/game?gameId=" + res, "_self")
				});
			});
		});
	</script>

	<style type="text/css">
		html, body { height: 100%; }
		#text-history {
			padding: 16px;
		}

		.card {
			border-radius: 16px;
			padding: 16px;
			background-color: lightblue;
			border: 2px solid gray;
			height: 200px;
			text-align: center;
			display: flex; 
			align-items: center;
		}

		a {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="container">
        <br><br>
        <div class="col-md-12">
			<div style="height: 100%">
				<h3>Games</h3>
				<div id="games">
					<% for(var game in games){ %>
					<a class="game-link" href="/game?gameId=<%= game %>">Game ID: <%= game %></a> (<a class="game-link" href="/api/endgame?gameId=<%= game %>">end game</a>)
					<% } %>
				</div>
				<br><br>
				<a id="newgame-link">New game</a>
			</div>
		</div>
	</div>
</body>
</html>